* {

    margin: 0%;
    padding: 0%;

}

body {

    background-color: #1b1a19;

}

.header {

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #141413;
    color: whitesmoke;

    height: 50px;
    width: 100%;

}

    .logotype-dekstop {

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    .logotype-mobile {

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

.footer {

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #141413;
    color: whitesmoke;

    height: 50px;
    width: 100%;

}

.copyright-dekstop {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.copyright-mobile {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

@media (max-width: 600px) {

    .logotype-dekstop {

        font-size: 0px;

    }

    .logotype-mobile {

        font-size: 40px;

    }

    .copyright-dekstop {

        font-size: 0px;
    
    }
    
    .copyright-mobile {
    
        font-size: 30px;
    
    }

}

@media (min-width: 601px) {

    .logotype-dekstop {

        font-size: 30px;

    }

    .logotype-mobile {

        font-size: 0px;

    }

    .copyright-dekstop {

        font-size: 30px;
    
    }
    
    .copyright-mobile {
    
        font-size: 0px;
    
    }

}