* {

    margin: 0%;
    padding: 0%;

}

body,html {

    width: 100dvw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: black;
    color: white;
    

}

.news {

}

#new {

    margin: 10px;

}

    h1 {

        font-family: monospace;

    }

    p {

        font-family: sans-serif;

    }