/* fonts zone, — connect ubuntu default&mono, montserrat */
	@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
/* body zone, — set height, width, margin */
	* {
		margin: 0%;
		font-family: 'Tenor Sans', sans-serif;
	}
		body {
			height: 100vh;
			width: 100vw;
			display: flex;
			justify-content: center;
			align-items: start;
			background-color: #222222;
			color: #fff;
		}
/* blocks zone, — header, main, footer and other */
	.container {
		width: 80vw;
	}
		.header {
			height: 75px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #141415;
			border-radius: 10px;
		}
			.title {
				font-size: 32px;
			}
				a {
					color: #fff;
				}
		.main {
			display: flex;
			justify-content: center;
			align-items: left;
			text-align: left;
			flex-direction: column;
			height: auto;
			background-color: #141415;
			border-radius: 15px;
		}
			.about {
				margin: 15px 15px 10px 15px;
			}
			.theeventname {
				display: flex;
				justify-content: center;
				align-items: center;
				width: auto;
				height: 50px;
				font-size: 16px;
				border-radius: 10px;
				background: #792009;
				color: #fff;
				margin: 0px 0px 15px 0px;
			}
				.text-about {
					font-size: auto;
				}
			.tables {
				display: flex;
				justify-content: end;
				flex-direction: row;
			}
				.table {
					margin: 0px 15px 15px 15px;
				}
					.tables__title {
						font-size: auto;
					}
				ul {
					list-style-type: none;
					padding: 5px;
				}
					li {
						font-size: 15px;
					}
		.footer {
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #141415;
			border-radius: 10px;
		}
			.copyleft {
				color: #fff;

				text-decoration: none;
				transition: color 1s;
			}
				.copyleft:hover {
					color: #b0e2ff;
					
					text-decoration: underline;
					transition: color 1s;
				}
		.wrap {
			height: 15px;
		}
/* media zone, — mobile, tablet */
	@media screen and (max-width: 800px) {
		ul {
			padding-left: 14px;
		}
		li {
			font-size: 13px;
		}
		.footer {
			font-size: 15px;
		}
	}
	@media (max-width: 444px) {
		.about {
			font-size: 14px;
		}
		ul {
			padding-left: 0;
			list-style-type: none;
		}
		li {
			font-size: 12px;
		}
		.footer {
			font-size: 14px;
		}
		/* #about {
			padding: 10px;
		} */
	}