
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {

	margin: 0;
	padding: 0;

}

header {

	display: flex;
	justify-content: center;
	align-items: center;

	height: 125px;
	width: 100%;

}

	.header__logotype {

		height: 100px;
		width: 100px;

	}

.about {

	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	font-family: 'Jost', sans-serif;

	font-size: 18px;

}

	.articles {

		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 250px;
		height: 150px;

	}

		article {

			display: flex;
			justify-content: center;
			align-items: center;

			text-align: center;

			width: 100px;
			height: 50px;

		}

footer {

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	font-family: 'Jost', sans-serif;

	height: 75px;
	width: 100%;

}

	.footer__title {

		color: #202022;

	}

	.footer__link {

		color: blue;
		text-decoration: none;
	}

	.footer__link:hover {

		color: blue;
		text-decoration: underline;

	}