*::selection {
	background: #555;
}
a:hover {
	text-decoration:none;
	transition:all 1s;
}
hr:hover {
	padding: 15px;
	height: 5px;
	transition:all 1s;
}
h2:hover {
	text-align:right;
	color: #111;
	background-color: #FFc;
	border-radius:5px;
	transition:all 1s;
}
