@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {

    margin: 0%;
    padding: 0%;

}

body {

    background-color: #313330;
    color: white;

}

.header{

    height: 80px;
    width: 100dvw;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: #242624;

    font-family: 'Inter', sans-serif;

}

     .title {

        font-size: 32px;

    }

.main {

    height: 100dvh;
    width: 100dvw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

    .about {

        margin-top: 20px;
        margin-bottom: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        height: 500px;
        width: 80dvw;

        border-radius: 40px;

        background-color: #242624;

        font-family: 'Raleway', sans-serif;

    }

        .text-about {

            margin-top: 10px;
            margin-bottom: 10px;

        }

        .button-github {

            margin-top: 10px;
            margin-bottom: 10px;

            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row;

            background-color: #4A4D48;

            height: 50px;
            width: 150px;
            border-radius: 100px;

            transition: width 0.1s;

        }

        .button-github:hover {

            height: 50px;
            width: 200px;
            border-radius: 80px;

            cursor:pointer;

            transition: width 0.1s;

        }

        .button-github:active {

            height: 50px;
            width: 190px;
            border-radius: 50px;

            cursor: wait;

            transition: width 0.1s;

        }

            .link-github {

                height: 50px;
                width: 200px;

                display: flex;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;

                color: white;
                text-decoration: none;

            }

            .icon-github {

                height: 25px;
                width: 25px;

            }

            .text.button-github {



            }

    .projects {

        margin-top: 10px;
        margin-bottom: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        height: 800px;
        width: 80dvw;

        border-radius: 40px;

        background-color: #242624;

        font-family: 'Raleway', sans-serif;

    }

        .text-projects {



        }

        .firstproject {

            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;

        }

        .secondproject {

            display: flex;
            align-items: center;
            justify-content: center;
            text-align: right;

        }

        #project {

            height: 150px;
            width: 300px;

        }

.footer {

    height: 80px;
    width: 100dvw;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: #242624;

    font-family: 'Inter', sans-serif;

}

    .title-footer {

        font-size: 24px;

    }
