@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

* {

	margin: 0%;
	padding: 0%;

  font-family: 'Tenor Sans', sans-serif;

  color: #fff;

}

body,html {

	background-image: url(images/background.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  scroll-behavior: smooth;

}

.header {

  height: 5dvh;

  display: flex;
  justify-content: start;
  align-items: center;

  background-color: #222221;

}

a {

  display: flex;
  justify-content: start;
  align-items: center;

  text-decoration: none;

  padding-left: 10px;

}

.main {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  background-color: #444443;

  height: 95dvh;

}

  .about {

  }

  .about__text {

    width: 90vw;
    color: white;
    font-size: 24px;

    color: white;
    animation: printed-text 1s steps(100),
        flashin-border .75s step-start infinite;

  }

  .link {

    font-size: 18px;

    margin: 15px;

  }

  @keyframes flashin-border {
    0% {
        border-color: rgb(255, 255, 255);
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: rgb(255, 255, 255);
    }
  }

  @keyframes printed-text {
      from {
          width: 0%;
      }
  }

.wrap {

  height: 100vh;

}

.footer {

  display: flex;
  justify-content: end;
  align-items: center;

  height: 75px;

}

  .footer__container {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 50px;

    background-color: #222221;

    margin: 15px;
    border-radius: 15px;

  }

@media (max-width: 444px) {
  a {

    font-size: 18px;

  }
  .about__text {

    font-size: 18px;

  }
}