@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

* {

	margin: 0%;

}

body {

	height: 100vh;
	width: 100vw;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #222222;
	color: #fff;

}

.container {

	width: 80vw;

}

	.header {

		height: 75px;

		display: flex;
		justify-content: center;
		align-items: center;

		background-color: #141415;
		border-radius: 10px;

	}

		.title {

			font-family: 'Montserrat', sans-serif;

			text-decoration: underline;

		}

		a {

			color: #fff;

		}

	.main {

		display: flex;
		justify-content: center;
		align-items: left;
		text-align: left;

		flex-direction: column;

		height: auto;

		background-color: #141415;
		border-radius: 15px;

	}


		.about {

			margin-top: 20px;
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 10px;

		}

			.text-about {

				font-family: 'Roboto', sans-serif;
				/* font-family: 'Roboto Mono', monospace; */

			}

		.tables {

			display: flex;
			flex-direction: row;

			font-family: 'Roboto', sans-serif;
			font-family: 'Roboto Mono', monospace;

		}

			.table {

				margin-top: 10px;
				margin-left: 20px;
				margin-right: 20px;
				margin-bottom: 20px;

			}

				.tables__title {

					font-family: 'Roboto', sans-serif;

				}

			ul {

				list-style-type:square;

			}

	.footer {

		height: 50px;

		display: flex;
		justify-content: center;
		align-items: center;

		background-color: #141415;
		border-radius: 10px;

		font-family: 'Roboto', sans-serif;

	}

	.wrap {

		height: 15px;

	}